---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>De la conception...</h2>
		<span class="text-gras">Imaginer, structurer, modéliser.</span>
		<p>Compréhension des besoins, cadrage fonctionnel, modélisation d’architectures robustes et évolutives.
			Mon approche repose sur une analyse métier rigoureuse et une structuration technique durable.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>... à la mise en  production</h2>
		<span class="text-gras">Du code aux utilisateurs finaux.</span>
			<p>Je prends en charge l’implémentation backend, l’API REST, la conteneurisation (Docker)
			et le déploiement cloud (AWS). J’accorde une grande importance à la qualité logicielle,
			aux tests, à la sécurité et à la performance dans un environnement de production.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>... en passant par la montée en compétences</h2>
		<span class="text-gras">Apprendre au contact du réel.</span>
		<p>Je me forme en continu au sein d’un accompagnement senior en environnement quasi-industriel.
			Mon objectif : renforcer mes savoir-faire, collaborer avec des équipes exigeantes
			et contribuer à des projets porteurs de sens et de valeur.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	p {
		text-align: justify;
	}

	.text-gras {
		font-weight: 600;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
